body {
  font-family: sans-serif;
  max-width: 1280px;
}

.wrapper {
  margin: 0 auto 0 auto;
  max-width:1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
  margin: 0 auto 0 auto;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.content {
  max-width:800px;
  margin: 0 auto 0 auto;
}

.content img {
  max-width:640px;
}
